:root {
  --headless-color: hsl(250, 80%, 54%);
  --framework-color: #4a9f00;
  --ui-color: hsl(217, 100%, 58%);
  --brand: #4a9f00;
}

@theme {
  --spacing-page: 1436px;
  --color-brand: #4a9f00;
  --color-brand-foreground: white;
  --color-brand-secondary: #d7ff8f;
  --color-brand-secondary-foreground: #1f3b00;
  --color-brand-200: #6fd31f;

  --color-landing-foreground: #243519;
  --color-landing-foreground-200: #5f7b4d;
}

.dark {
  --headless-color: hsl(250 100% 80%);
  --framework-color: #91ff3d;
  --ui-color: #a9ceff;
  --brand: #91ff3d;

  --color-landing-foreground: #e7f8dc;
  --color-landing-foreground-200: #a6cc8e;

  --color-brand: #91ff3d;
  --color-brand-secondary: #39be1c;
  --color-brand-secondary-foreground: #071300;
  --color-brand-foreground: black;
  --color-brand-200: #c4ff8a;
}
