@import 'tailwindcss';

@import '../styles/fd/lib/default-colors.css';
@import '../styles/fd/lib/base.css';
@import '../styles/fd/neutral.css';
@import '../styles/site/theme.css';
@import '../styles/site/markdown.css';

html {
  scrollbar-gutter: stable;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
